<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einstellungen</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="app-container">
        <nav class="navbar">
            <div class="logo">⚙️ Einstellungen</div>
            <div class="nav-links">
                {% if user.is_authenticated %}
                <a href="{% url 'overview' %}">
                    <input class="button" type="button" value="Home">
                </a>
                <a href="{% url 'profile' %}">
                    <input class="button" type="button" value="Profil">
                </a>
                {% endif %}
            </div>
        </nav>
     <div class="body">
        <main class="settings-container">
            <h1>Allgemeine Einstellungen</h1>
            <form id="settings-form">
            <div>     <label>
                    <input class="input" type="checkbox" id="notifications"> Benachrichtigungen aktivieren
                </label>
               <label for="language">Sprache:</label>
                <select id="language">
                    <option value="de">Deutsch</option>
                    <option value="en">English</option>
                    <option value="en">French</option>
                    <option value="en">Spanish</option>
                    <option value="en">Italian</option>
                </select>
              </div> 
                <br/>
                <div>  <label>
                    <input class="input" type="checkbox" id="darkmode"> Dunkelmodus aktivieren
                </label></div> 
                <button class="button2" type="submit">Speichern</button>
            </form>
        </main>
    </div>
    </div>
    <footer id="footer">
    <ul>
        <li>Danke fürs Vorbeischauen! 👋🏻</li>
        <li><a href="https://www.tha.de/Service/Impressum.page">Impressum</a></li>
        <li><a href="https://www.tha.de/Service/Datenschutz.page">Datenschutz</a></li>
        <li><a href="mailto:weesslena@gmail.com;kathrin.janka@web.de?subject=Booktracker">Kontakt</a></li>
    </ul>
</footer>
    <script src="../../static/js/script.js"></script>
</body>
</html>

